In [1]:
import numpy as np 
import pandas as pd

In [2]:
books=pd.read_csv('Books.csv',sep=",", on_bad_lines='skip', encoding='latin-1')

/tmp/ipykernel_114283/3546612714.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  books=pd.read_csv('Books.csv',sep=",", on_bad_lines='skip', encoding='latin-1')

In [3]:
books.columns

Index(['ISBN', 'Book-Title', 'Book-Author', 'Year-Of-Publication', 'Publisher',
       'Image-URL-S', 'Image-URL-M', 'Image-URL-L'],
      dtype='object')

In [4]:
books=books[['ISBN','Book-Title','Book-Author','Year-Of-Publication','Publisher']]

In [5]:
books.rename(columns={'Book-Title':'title','Book-Author':'author','Year-Of-Publication':'year','Publisher':'publisher'},inplace=True)

In [6]:
books.head(1)

,ISBN,title,author,year,publisher
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press

In [7]:
users=pd.read_csv('Users.csv',sep=",", on_bad_lines="skip",encoding='latin-1')

In [8]:
users.rename(columns={'User-ID':'user_id','Location':'location','Age':'age'},inplace=True)
users.head(3)

   user_id                         location   age
0        1               nyc, new york, usa   NaN
1        2        stockton, california, usa  18.0
2        3  moscow, yukon territory, russia   NaN

In [9]:
ratings=pd.read_csv("Ratings.csv",sep=",", on_bad_lines="skip",encoding="latin-1")

In [10]:
ratings.rename(columns={'User-ID':'user_id','Book-Rating':'rating'},inplace=True)

In [11]:
ratings.head(3)

   user_id        ISBN  rating
0   276725  034545104X       0
1   276726  0155061224       5
2   276727  0446520802       0

In [12]:
books.shape[0]

271360

In [13]:
users.shape[0]

278858

In [14]:
ratings.shape[0]

1149780

In [15]:
x=ratings['user_id'].value_counts()>200

In [16]:
y=x[x].index

In [17]:
y

Index([ 11676, 198711, 153662,  98391,  35859, 212898, 278418,  76352, 110973,
       235105,
       ...
       260183,  73681,  44296, 155916,   9856, 274808,  28634,  59727, 268622,
       188951],
      dtype='int64', name='user_id', length=899)

In [18]:
ratings=ratings[ratings['user_id'].isin(y)]
#now this ratings have only those rows where user_is is among y

In [19]:
ratings.head()

      user_id        ISBN  rating
1456   277427  002542730X      10
1457   277427  0026217457       0
1458   277427  003008685X       8
1459   277427  0030615321       0
1460   277427  0060002050       0

In [20]:
ratings_with_books=ratings.merge(books,on='ISBN')

In [21]:
ratings_with_books.head()

,user_id,ISBN,rating,title,author,year,publisher
0,277427,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc
1,3363,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc
2,11676,002542730X,6,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc
3,12538,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc
4,13552,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc

In [22]:
ratings_with_books.shape

(487671, 7)

In [23]:
number_rating=ratings_with_books.groupby('title')['rating'].count().reset_index()

In [24]:
number_rating.rename(columns={'rating':'number of ratings'},inplace=True)

In [25]:
final_rating=ratings_with_books.merge(number_rating, on='title')

In [28]:
final_rating=final_rating[final_rating['number of ratings']>=50]

In [30]:
final_rating.drop_duplicates(['user_id','title'],inplace=True)

In [31]:
final_rating.shape

(59850, 8)

In [32]:
book_pivot=final_rating.pivot_table(columns='user_id',index='title',values='rating')

In [35]:
book_pivot.fillna(0,inplace=True)

In [36]:
book_pivot

user_id,254,2276,2766,2977,3363,3757,4017,4385,6242,6251,...,274004,274061,274301,274308,274808,275970,277427,277478,277639,278418
title,,,,,,,,,,,,,,,,,,,,,
1984,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1st to Die: A Novel,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2nd Chance,0.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4 Blondes,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
84 Charing Cross Road,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,10.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Year of Wonders,0.0,0.0,0.0,7.0,0.0,0.0,0.0,0.0,7.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
You Belong To Me,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zen and the Art of Motorcycle Maintenance: An Inquiry into Values,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zoya,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"\O\"" Is for Outlaw""",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,8.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [40]:
from scipy.sparse import csr_matrix
book_sparse=csr_matrix(book_pivot)
#because our pivot table has lot of 0's in it so instead of passing whole pivot table we will pass a sparse matrix to reduce computation time

In [44]:
from sklearn.neighbors import NearestNeighbors
model=NearestNeighbors(algorithm='brute')

In [45]:
model.fit(book_sparse)

NearestNeighbors(algorithm='brute')

In [67]:
distances, suggestions=model.kneighbors(book_pivot.iloc[393,:].values.reshape(1,-1),n_neighbors=6)

In [68]:
suggestions

array([[393, 372, 320, 184, 296,  35]])

In [69]:
for i in range(len(suggestions)):
    print(book_pivot.index[suggestions[i]])

Index(['Pleading Guilty', 'No Safe Place', 'Long After Midnight', 'Exclusive',
       'Journey', 'Absolute Power'],
      dtype='object', name='title')

In [73]:
np.where(book_pivot.index=='Animal Farm')[0][0]

54

In [78]:
def recommend_book(book_name):
    book_id=np.where(book_pivot.index==book_name)[0][0]
    distances, suggestions=model.kneighbors(book_pivot.iloc[book_id,:].values.reshape(1,-1),n_neighbors=6)
    for i in range(len(suggestions)):
        books=book_pivot.index[suggestions[i]]
    return books[1:]

In [79]:
print(recommend_book('Animal Farm'))

Index(['Exclusive', 'Jacob Have I Loved', 'Second Nature', 'Pleading Guilty',
       'No Safe Place'],
      dtype='object', name='title')